@model UserModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>@User.Identity.Name</h2>
</div>
@await Html.PartialAsync("_CreateTodo.cshtml", new TodoModel())
<table>
    <thead>

    </thead>
    <tbody>
        @foreach (var todo in Model.Todos)
        {
            <tr>
                <td>TODO: </td>
                <td>@todo.Message</td>
                <td>@todo.DateCreated</td>
                <td>@Html.DisplayFor(_ => todo.LastEdited)</td>
                <td><a asp-controller="Todo" asp-action="Edit" asp-route-todoIndex="@Model.Todos.IndexOf(todo)">Edit</a></td>
                <td><a asp-controller="Todo" asp-action="Delete" asp-route-todoIndex="@Model.Todos.IndexOf(todo)">Delete</a></td>
            </tr>
        }
    </tbody>
</table>