@model UserModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>TODOs of @User.Identity.Name</h1>
</div>
<div style="margin: 2rem 0px;">
    @await Html.PartialAsync("_CreateTodo.cshtml", new TodoModel())
</div>
<div class="todo-table-container">
    <table class="todo-table">
        <thead>
            <tr>
                @{
                    var _todo = new EditTodoModel();
                }
                <td class="hide-for-mobile"></td>
                <td>@Html.DisplayNameFor(_ => _todo.Message)</td>
                <td class="hide-for-mobile">@Html.DisplayNameFor(_ => _todo.DateCreated)</td>
                <td class="hide-for-mobile">@Html.DisplayNameFor(_ => _todo.LastEdited)</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in Model.Todos)
            {
                <tr>
                    <td class="hide-for-mobile">TODO: </td>
                    <td>@todo.Message</td>
                    <td class="hide-for-mobile">@todo.DateCreated.ToLocalTime()</td>
                    <td class="hide-for-mobile">@todo.LastEdited.ToLocalTime()</td>
                    <td><a asp-controller="Todo" asp-action="Edit" asp-route-todoIndex="@Model.Todos.IndexOf(todo)">Edit</a></td>
                    <td>
                        <form asp-controller="Todo" asp-action="Delete" asp-route-todoIndex="@Model.Todos.IndexOf(todo)" method="post">
                            <input type="submit" value="Delete" class="delete-button" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>